@using Book.Models;
@model Categorey
<form method="post" asp-action="DeletePost">
    <input asp-for="Id" hidden />
    <div class="border p-3 mt-4">
        <h2 class="text-primary">Delete Category</h2>
        <hr />
        @*        <div asp-validation-summary="All" class="text-danger"></div>*@
        <div class="form-group" hidden>
            <label asp-for="Name"></label>
            <input class="form-control" asp-for="Name" disabled />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3" hidden>
            <label asp-for="DisplayOrder"></label>
            <input class="form-control" asp-for="DisplayOrder"  disabled/>
            <span asp-validation-for="DisplayOrder" class="text-danger"></span>
        </div>
        <div class="mt-4 mb-4" >
            <h2>Are you sure you want to delete this?</h2>
        </div>
        <button type="submit" style="width: 150px" class="btn btn-danger">Delete</button>
        <a asp-action="Index" style="width: 150px" class="btn btn-secondary">Back to List</a>

    </div>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}